asgiref==3.11.1
certifi==2026.6.17
charset-normalizer==3.4.9
dj-database-url==3.1.2
Django==4.2
idna==3.18
mysqlclient==2.2.8
psycopg2-binary==2.9.12
python-dotenv==1.2.2
requests==2.34.2
sqlparse==0.5.5
urllib3==2.7.0
