{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="UTF-8">

    <title>Modifier Patient</title>

    <link
        rel="stylesheet"
        href="{% static 'css/reception.css' %}"
    >

</head>

<body>

    <div class="card formulaire">

        <h2>✏ Modifier patient</h2>

        <form method="POST">

            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit">
                Modifier
            </button>

        </form>

    </div>

</body>
</html>