<h2>Dashboard Médecin</h2>

<p>Bienvenue Dr. {{ specialiste.nom }} ({{ specialiste.specialite }})</p>

<hr>

<table border="1" cellpadding="10" cellspacing="0" width="100%">

    <thead>
        <tr>
            <th>Patient</th>
            <th>Date</th>
            <th>Heure</th>
            <th>Statut</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>

        {% for rdv in rendezvous %}

        <tr>
            <td>
                {{ rdv.patient.nom }} {{ rdv.patient.postnom }} {{ rdv.patient.prenom }}
            </td>

            <td>{{ rdv.date }}</td>
            <td>{{ rdv.heure }}</td>

            <td>
                {% if rdv.statut == "en_attente" %}
                    🟡 En attente
                {% elif rdv.statut == "en_cours" %}
                    🔵 En cours
                {% elif rdv.statut == "termine" %}
                    🟢 Terminé
                {% else %}
                    🔴 Annulé
                {% endif %}
            </td>

            <td>

                <!-- 👁 CONSULTATION -->
                <a href="{% url 'consultation' rdv.id %}"
                   style="background:#3498db; color:white; padding:5px 10px; text-decoration:none; border-radius:5px;">
                    Voir consultation
                </a>

                <!-- 🧪 LABO -->
                <a href="{% url 'detail_rdv' rdv.id %}"
                   style="background:#e67e22; color:white; padding:5px 10px; text-decoration:none; border-radius:5px; margin-left:5px;">
                    Envoyer labo
                </a>

            </td>
        </tr>

        {% empty %}
        <tr>
            <td colspan="5">Aucun rendez-vous trouvé</td>
        </tr>

        {% endfor %}

    </tbody>

</table>